---
---

// Headers
$header-heading-color: #a260e0;
$header-bg-color: #0b3540;
$header-bg-color-secondary: #2d0b40;

// Text
$section-headings-color: #2e1275;
$body-text-color: #535a6e;
$body-link-color: #7746b8;
$blockquote-text-color: #7a7e91;

// Code
$code-bg-color: #f8f3fa;
$code-text-color: #7271a3;

// Borders
$border-color: #e6dcf0;
$table-border-color: #eae9ec;
$hr-border-color: #f1eff1;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.responsive {
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
